secrets.py

__pycache__/
/.vscode/

/static/*
CAR/media/*
.idea/
/Test_DB_files/*
*.csv
# Ignore db files including Redis (rdb)
*.db
*.rdb

# Ignore .env files 
#.*env

# Ignore crypt-key
crypt-key

# Ignore compiled main.js
CAR/frontend/static/frontend/main.js
boilerplatenotes.txt

# Ignore log file
CAR/logs/*
    
# Django / React / Webpack stuff
CAR/backend/migrations/*
venv/*
db.sqlite3
*.pyc
webpack-stats.json
assets/bundles
local_settings.py

# Jupyter Notebook
.ipynb_checkpoints
*/Notebooks/*

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json
/jquery-webpack-stats.json

# Logs
logs
.npm
*.log
npm-debug.log*

# Output of 'npm pack'
*.tgz

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

### react ###
.DS_*
**/*.backup.*
**/*.back.*
node_modules
main.js
