.git
.gitignore
.cache
.vscode
./media
*.pot
*.pyc
__pycache__/
**/static/*
boilerplatenotes.txt
Dockerfile*
docker-compose.yaml
environment.yml
./node_modules
.env
.devcontainer
./logs
logsfile.log
requirements-dev.txt
