.editcompound {
  background-color: whitesmoke;
  margin: 5px;
}

.drawmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  border: lightblue;
  border-style: solid;
  border-radius: 25px;
  padding: 25px;
  transform: translate(-50%, -50%);
}

.targetmethods {
  border: none;
  padding: 0%;
}

.synthesiscard {
  padding: 2px;
  border: none;
  width: 28rem;
}

.reaction-name {
  font-size: 6pt;
  text-align: left;
}

.reaction-container {
  padding: 0%;
  border: red;
}

.reaction-image {
  height: 150px;
  width: auto;
  border: 5px solid;
  border-color: gray;
}

.reaction-image-button {
  padding: 2;
  border: none;
  background-color: whitesmoke;
}
